In [3]:
import pandas as pd
import regex as re
def preprocess(text):
    text = " ".join([x.lower() for x in text.split("\n") if x])
    text = re.sub(r'[^a-z0-9.,!?"\' ]+', '', text)
    return text

In [5]:
df = pd.read_pickle("/home/philipp/projects/dad4td/data/processed/20_news_imdb.pkl")
df

,text,target,title,outlier_label
0,I was wondering if anyone out there could enli...,7,rec.autos,-1
1,I recently posted an article asking what kind ...,7,rec.autos,-1
2,\nIt depends on your priorities. A lot of peo...,7,rec.autos,-1
3,an excellent automatic can be found in the sub...,7,rec.autos,-1
4,: Ford and his automobile. I need information...,7,rec.autos,-1
...,...,...,...,...
61309,I thought this movie did a down right good job...,-1,imdb,1
61310,"Bad plot, bad dialogue, bad acting, idiotic di...",-1,imdb,1
61311,I am a Catholic taught in parochial elementary...,-1,imdb,1
61312,I'm going to have to disagree with the previou...,-1,imdb,1
61313,No one expects the Star Trek movies to be high...,-1,imdb,1

In [6]:
df.text = df.text.map(lambda x: preprocess(x))
df.text.to_frame()

                                                    text
0      i was wondering if anyone out there could enli...
1      i recently posted an article asking what kind ...
2      it depends on your priorities.  a lot of peopl...
3      an excellent automatic can be found in the sub...
4       ford and his automobile.  i need information ...
...                                                  ...
61309  i thought this movie did a down right good job...
61310  bad plot, bad dialogue, bad acting, idiotic di...
61311  i am a catholic taught in parochial elementary...
61312  i'm going to have to disagree with the previou...
61313  no one expects the star trek movies to be high...

[61096 rows x 1 columns]

In [12]:
df.dropna()

,text,target,title,outlier_label
0,i was wondering if anyone out there could enli...,7,rec.autos,-1
1,i recently posted an article asking what kind ...,7,rec.autos,-1
2,it depends on your priorities. a lot of peopl...,7,rec.autos,-1
3,an excellent automatic can be found in the sub...,7,rec.autos,-1
4,ford and his automobile. i need information ...,7,rec.autos,-1
...,...,...,...,...
61309,i thought this movie did a down right good job...,-1,imdb,1
61310,"bad plot, bad dialogue, bad acting, idiotic di...",-1,imdb,1
61311,i am a catholic taught in parochial elementary...,-1,imdb,1
61312,i'm going to have to disagree with the previou...,-1,imdb,1
61313,no one expects the star trek movies to be high...,-1,imdb,1

In [14]:
import csv
outpath = "/home/philipp/projects/dad4td/data/processed/20_news_imdb.txt"
df.text.to_frame().to_csv(outpath, sep=" ", index=False, header=False)

In [63]:
\ was\ wondering\ if\ anyone\ out\ there\ could\ eimport random
wiki_all = "/home/philipp/projects/dad4td/data/processed/wiki_all_sf.txt"
seed = 42
line_count = 6133005
data_frac = 0.3
n = line_count * data_frac
wiki_partial = f"/home/philipp/projects/dad4td/data/processed/wiki_part_{data_frac}_sf.txt"

random.seed(seed)
j=0
with open(wiki_partial, 'w'): pass
with open(wiki_partial, "a") as outfile:
    with open(wiki_all, "r") as infile:
        for i, line in enumerate(infile):
            if random.random() < data_frac:
                j+=1
                outfile.write(line)
            if j > n:
                print(f"\n\n{j} / {(line_count)}  - {j/(line_count)*100:.2}%")
                break

1839902 / 6133005  - 0.3%