In [3]:
import pandas as pd

In [35]:
df = pd.read_pickle("/home/philipp/projects/dad4td/data/processed/20_news_imdb.pkl")
df = df.where(df.title!="imdb").dropna(how="all")
df["textlen"] = df.text.map(lambda x: len(x))
print(f"median len: {df.textlen.median()}\naverage len: {df.textlen.mean()}")
df

median len: 503.0
average len: 1242.067862292718

,text,target,title,outlier_label,textlen
0,I was wondering if anyone out there could enli...,7.0,rec.autos,-1.0,475
1,I recently posted an article asking what kind ...,7.0,rec.autos,-1.0,9570
2,\nIt depends on your priorities. A lot of peo...,7.0,rec.autos,-1.0,456
3,an excellent automatic can be found in the sub...,7.0,rec.autos,-1.0,2005
4,: Ford and his automobile. I need information...,7.0,rec.autos,-1.0,369
...,...,...,...,...,...
11309,Secrecy in Clipper Chip\n\nThe serial number o...,11.0,sci.crypt,-1.0,1278
11310,Hi !\n\nI am interested in the source of FEAL ...,11.0,sci.crypt,-1.0,203
11311,"The actual algorithm is classified, however, t...",11.0,sci.crypt,-1.0,452
11312,\n\tThis appears to be generic calling upon th...,11.0,sci.crypt,-1.0,1899
11313,"\nProbably keep quiet and take it, lest they g...",11.0,sci.crypt,-1.0,70

In [34]:
df = pd.read_pickle("/home/philipp/projects/dad4td/data/processed/20_news_imdb.pkl")
df = df.where(df.title=="imdb").dropna(how="all")
df["textlen"] = df.text.map(lambda x: len(x))
print(f"median len: {df.textlen.median()}\naverage len: {df.textlen.mean()}")
df

median len: 970.0
average len: 1309.43102

,text,target,title,outlier_label,textlen
11314,One of the other reviewers has mentioned that ...,-1.0,imdb,1.0,1761
11315,A wonderful little production. <br /><br />The...,-1.0,imdb,1.0,998
11316,I thought this was a wonderful way to spend ti...,-1.0,imdb,1.0,926
11317,Basically there's a family where a little boy ...,-1.0,imdb,1.0,748
11318,"Petter Mattei's ""Love in the Time of Money"" is...",-1.0,imdb,1.0,1317
...,...,...,...,...,...
61309,I thought this movie did a down right good job...,-1.0,imdb,1.0,1008
61310,"Bad plot, bad dialogue, bad acting, idiotic di...",-1.0,imdb,1.0,642
61311,I am a Catholic taught in parochial elementary...,-1.0,imdb,1.0,1280
61312,I'm going to have to disagree with the previou...,-1.0,imdb,1.0,1234
61313,No one expects the Star Trek movies to be high...,-1.0,imdb,1.0,678

In [14]:
df = pd.read_csv("/home/philipp/projects/dad4td/data/raw/amazon.csv", usecols=[2], names=["text"])
df["textlen"] = df.text.map(lambda x: len(x))
print(f"median len: {df.textlen.median()}\naverage len: {df.textlen.mean()}")

median len: 367.0
average len: 414.4517584615385

In [30]:
df = pd.read_csv("/home/philipp/projects/dad4td/data/raw/all-the-news-2-1.csv", nrows=100000)
df = df[["article"]]
df["text"] = df.article.astype(str)
df["textlen"] = df.text.map(lambda x: len(x))
print(f"median len: {df.textlen.median()}\naverage len: {df.textlen.mean()}")

median len: 2746.0
average len: 3958.69264

In [43]:
df = pd.read_csv("/home/philipp/projects/dad4td/data/processed/wiki_2m_sf.txt", sep="\n", nrows=100000, names=["text"])
df["textlen"] = df.text.map(lambda x: len(x))
print(f"median len: {df.textlen.median()}\naverage len: {df.textlen.mean()}")

median len: 741.0
average len: 2174.34659

In [44]:
df = pd.read_pickle("/home/philipp/projects/dad4td/data/raw/QS-OCR-Large/rvl_cdip.pkl")
df["textlen"] = df.text.map(lambda x: len(x))
print(f"median len: {df.textlen.median()}\naverage len: {df.textlen.mean()}")
df

median len: 751.0
average len: 1080.9177497943745

,filename,target,split,text,textlen
0,imagesr/r/g/e/rge31d00/503210033+-0034.txt,3,test,\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n,22
1,imagesc/c/e/j/cej80d00/517306722+-6724.txt,3,test,\nZ Like to Have the Zippo Gia)\n~ SS Pack in ...,160
2,imagesm/m/r/r/mrr36d00/50603620-3621.txt,14,test,CO-INVESTIGATOR\n\nNAME POSITION/TITLE BIRTHDA...,2039
3,imagesg/g/t/u/gtu29c00/2084573574a.txt,2,test,"Original Message\nFrom Wile, Vivian\nMonday, A...",482
4,imagesh/h/o/f/hof08d00/2071783492.txt,9,test,04/18/98 09:37 G1 7+338-8886 MCKAY FRIED Boooz...,376
...,...,...,...,...,...
39995,imageso/o/u/k/ouk93f00/0013006838.txt,10,val,The Tobacco Institute\nIndustry Support of Bio...,1027
39996,imagesf/f/f/b/ffb52c00/2074103881.txt,11,val,‘a.coweames\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...,715
39997,imagesg/g/h/b/ghb11f00/0001251052.txt,15,val,ATION\nINTIAL MINNESOTA TOBACCO LITIG\nCONFIDE...,859
39998,imagesl/l/c/k/lck71f00/2016003416.txt,9,val,"\nTHE WASHINGTON STAR\nSaturday, August 3, 196...",1672
39999,imagesa/a/y/g/ayg48e00/2023114503.txt,15,val,Bey keke\ngy 7 Cenc\nou rept?\nMEMORANDUM\nMar...,836